<div *ngIf="Products?.length > 0;else noProducts">
   
    <p-dataList [value]="Products" [paginator]="true" [rows]="1" paginatorPosition="both"  >

        <p-header>
            List of Products
        </p-header>
        <ul *ngFor="let Product of Products" class="collection">
        <ng-template let-product pTemplate="item">
            <div class="ui-g ui-fluid product-item">
                <img src="assets/iphone.jpg" width="10%" height="10%">  
                <div class="ui-g-12 ui-md-9 product-details">
                    <div class="ui-g">
                        <div class="ui-g-2 ui-sm-6">Name: </div>
                        <div class="ui-g-10 ui-sm-6">{{product.name}}</div>
                        
                        <div class="ui-g-2 ui-sm-6">Place: </div>
                        <div class="ui-g-10 ui-sm-6">{{product.place}}</div>

                        <div class="ui-g-2 ui-sm-6">Contact name: </div>
                        <div class="ui-g-10 ui-sm-6">{{product.cname}}</div>

                        <div class="ui-g-2 ui-sm-6">Conatct phone: </div>
                        <div class="ui-g-10 ui-sm-6">{{product.cphone}}</div>
 
                        <div class="ui-g-2 ui-sm-6">Conatct want: </div>
                        <div class="ui-g-10 ui-sm-6">{{product.need}}</div>

                        <div class="ui-g-2 ui-sm-6">Published: </div>
                        <div class="ui-g-10 ui-sm-6">{{product.date}}</div>
                        
                    </div>
                </div>
              <!--  <div class="derecha">
                    <i (click)="deleteProduct($event, Product)" class="fa fa-trash fa-2x"  ></i>
                    </div>-->
            </div>
        </ng-template>
      </ul>  
    </p-dataList>
  </div>
  
  
  <ng-template #noProducts>
      <h5>There is not Products yet.</h5>
    </ng-template>

   <!--
      <p>Today is {{today | date}}</p>
      <p>Or if you prefer, {{today | date:'fullDate'}}</p>
      <p>The time is {{today | date:'jmZ'}}</p>
      <p>Finally the date and time is {{today | date:'short'}}</p>
   
   
  <ul *ngFor="let Product of Products" class="collection">
    <li class="collection-item" (dblclick)="deleteProduct($event, Product)">
      <strong>{{ Product.name }}</strong> : {{ Product.place }} 
      <a href="#" class="secondary-content">
        <i (click)="deleteProduct($event, Product)" class="fa fa-trash"></i>
        <i (click)="editProduct($event, Product)" class="fa fa-pencil"></i>
      </a>
      <div *ngIf="editState && ProductToEdit.id === Product.id">
        <form (ngSubmit)="updateProduct(Product)">
          <div class="row">
            <div class="input-field col s6">
              <input 
                type="text" name="name"
                placeholder="Edit name" [(ngModel)]="Product.name">
            </div>
            <div class="input-field col s6">
                <input 
                  type="text" name="place"
                  placeholder="Edit place" [(ngModel)]="Product.place">
            </div>
            <input type="submit" class="btn" value="Update Product">
            <button class="btn red" (click)="deleteProduct($event, Product)">Delete Product</button>
          </div>
        </form>
      </div>

    </li>
  </ul>

  <p-orderList [value]="Products" [listStyle]="{'height':'250px'}" [responsive]="true" header="Products" 
  filter="filter" filterBy="name" filterPlaceholder="Filter by brand" dragdrop="true" dragdropScope="Products">
  <ng-template let-product pTemplate="item">
      <div class="ui-helper-clearfix" (dblclick)="deleteProduct($event, Product)">
          <img src="assets/iphone.jpg" width="10%" height="10%">
          <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{ product.name }} {{ product.place }}  </div>
      </div>
  </ng-template>
</p-orderList>-->


